/* @import url(https://fonts.bunny.net/css?family=lato:400,700,900|quicksand:400,500,600,700); */

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.title.style-3 {
    /* background-image: url(../imgs/theme/wave.png); */
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 25px;
}






.carausel {
    overflow: scroll;
    height: 15rem;
    gap: 1rem;



}

.text-brand {
    color: #3bb77e !important;
}

.bg-brand {
    background-color: #3bb77e !important;
    color: #fff;
}

.btn-outline-brand {
    border: 1px solid #3bb77e;
    color: #3bb77e;
    transition: 0.3s;
}

.btn-outline-brand:hover {
    background-color: #3bb77e;
    color: #fff;
}

.featured-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.social-icon img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.2);
}